/* Fall Guys Custom Controller */
/* Don't steal my shit! */

.controller.custom{
    background: url(base.png); 
    height: 720px;
    width: 1280px;
    background-repeat: no-repeat;
}
.custom.disconnected { 
    background: url(disconnected.png);
}
.custom.disconnected div {
    display: none;
}
 .custom .triggers{ 
    position: absolute;
    background-repeat: no-repeat;
} 
.custom .trigger{
    height: 720px;
    width: 1280px;
    background-repeat: no-repeat;
}
.custom .trigger.right{
    height: 720px;
    width: 1280px;
    background: url(RT.png);
    position: absolute;
    background-repeat:no-repeat;
}
.custom .abxy{
    position: absolute;
    background-repeat:no-repeat;
}
.custom .button{
    position: absolute;
}
.custom .button.pressed{
    background-position-y: -00px;
    margin-top: 0px;
}
.custom .a.pressed{ /* X on PS4*/
    background: url(A.png); 
    height: 720px;
    width: 1280px;
    background-repeat:no-repeat;
}
.custom .x.pressed{ /* square on PS4*/
    background: url(X.png); 
    height: 720px;
    width: 1280px;
    background-repeat:no-repeat;
}
.custom .sticks{
    position: absolute;
    background-repeat: no-repeat;
}
.custom .stick.left{
    position: absolute;
    background: url(sticks.png) no-repeat;
    height: 396px;
    width: 396px;
    top: 162px;
    left: 101px;
}