:root {
    --cross-color: #00ff00; /* CROSS COLOR */
    --cross-color-hover: #ff0000; /* CROSS COLOR WHEN HOVERING */
}

.icon {
    width: 200px;
    height: 200px;
    display: block;
    background-color: var(--cross-color);
    -webkit-mask: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' id='a55354cf-cb68-4fd6-9775-739806c8d2fd' data-name='Layer 1' viewBox='0 0 200 200'><path d='M531.94 1166.87h-48v-48a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v48h-48a12 12 0 0 0-12 12v56a12 12 0 0 0 12 12h48v48a12 12 0 0 0 12 12h56a12 12 0 0 0 12-12v-48h48a12 12 0 0 0 12-12v-56A12 12 0 0 0 531.94 1166.87Z' transform='translate(-343.94 -1106.87)'/></svg>") no-repeat;
    mask: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' id='a55354cf-cb68-4fd6-9775-739806c8d2fd' data-name='Layer 1' viewBox='0 0 200 200'><path d='M531.94 1166.87h-48v-48a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v48h-48a12 12 0 0 0-12 12v56a12 12 0 0 0 12 12h48v48a12 12 0 0 0 12 12h56a12 12 0 0 0 12-12v-48h48a12 12 0 0 0 12-12v-56A12 12 0 0 0 531.94 1166.87Z' transform='translate(-343.94 -1106.87)'/></svg>") no-repeat;
}

.icon:hover,
.icon:focus {
    width: 200px;
    height: 200px;
    display: block;
    background-color: var(--cross-color-hover);
    -webkit-mask: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' id='a55354cf-cb68-4fd6-9775-739806c8d2fd' data-name='Layer 1' viewBox='0 0 200 200'><path d='M531.94 1166.87h-48v-48a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v48h-48a12 12 0 0 0-12 12v56a12 12 0 0 0 12 12h48v48a12 12 0 0 0 12 12h56a12 12 0 0 0 12-12v-48h48a12 12 0 0 0 12-12v-56A12 12 0 0 0 531.94 1166.87Z' transform='translate(-343.94 -1106.87)'/></svg>") no-repeat;
    mask: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' id='a55354cf-cb68-4fd6-9775-739806c8d2fd' data-name='Layer 1' viewBox='0 0 200 200'><path d='M531.94 1166.87h-48v-48a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v48h-48a12 12 0 0 0-12 12v56a12 12 0 0 0 12 12h48v48a12 12 0 0 0 12 12h56a12 12 0 0 0 12-12v-48h48a12 12 0 0 0 12-12v-56A12 12 0 0 0 531.94 1166.87Z' transform='translate(-343.94 -1106.87)'/></svg>") no-repeat;
}